<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="gundo_imagine_clean_up" xsi:type="object">Gundo\Imagine\Console\Command\CleanUp</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ReCaptchaWebapiApi\Model\CompositeWebapiValidationConfigProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="imagine" xsi:type="object">Gundo\Imagine\Model\WebapiConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
