<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Gundo_Imagine::management" sortOrder="100" title="Imagine Management" module="Gundo_Imagine"
             parent="Gundo_Imagine::management" resource="Gundo_Imagine::management" translate="title"
             action="imagine/imagine/index"/>
    </menu>
</config>
